responses/wsdl/AlertServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="userServices">
<types>
<xsd:schema>
<xsd:import namespace="http://www.firstdata.com/fdcomar/" schemaLocation="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/alertServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="unsuscribeAlert">
<part name="parameters" element="tns:unsuscribeAlert"></part>
</message>
<message name="unsuscribeAlertResponse">
<part name="parameters" element="tns:unsuscribeAlertResponse"></part>
</message>
<message name="modifyAlert">
<part name="parameters" element="tns:modifyAlert"></part>
</message>
<message name="modifyAlertResponse">
<part name="parameters" element="tns:modifyAlertResponse"></part>
</message>
<message name="findAlertsByUser">
<part name="parameters" element="tns:findAlertsByUser"></part>
</message>
<message name="findAlertsByUserResponse">
<part name="parameters" element="tns:findAlertsByUserResponse"></part>
</message>
<message name="suscribeAlert">
<part name="parameters" element="tns:suscribeAlert"></part>
</message>
<message name="suscribeAlertResponse">
<part name="parameters" element="tns:suscribeAlertResponse"></part>
</message>
<portType name="AlertServicesPortType">
<operation name="unsuscribeAlert">
<input wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/unsuscribeAlertRequest" message="tns:unsuscribeAlert"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/unsuscribeAlertResponse" message="tns:unsuscribeAlertResponse"></output>
</operation>
<operation name="modifyAlert">
<input wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/modifyAlertRequest" message="tns:modifyAlert"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/modifyAlertResponse" message="tns:modifyAlertResponse"></output>
</operation>
<operation name="findAlertsByUser">
<input wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/findAlertsByUserRequest" message="tns:findAlertsByUser"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/findAlertsByUserResponse" message="tns:findAlertsByUserResponse"></output>
</operation>
<operation name="suscribeAlert">
<input wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/suscribeAlertRequest" message="tns:suscribeAlert"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/AlertServicesPortType/suscribeAlertResponse" message="tns:suscribeAlertResponse"></output>
</operation>
</portType>
<binding name="AlertServicesImplPortBinding" type="tns:AlertServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="unsuscribeAlert">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="modifyAlert">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findAlertsByUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="suscribeAlert">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="userServices">
<port name="AlertServicesImplPort" binding="tns:AlertServicesImplPortBinding">
<soap:address location="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/alertServices"></soap:address>
</port>
</service>
</definitions>