responses/wsdl/commerceQueryServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="commerceQueryServices">
<types>
<xsd:schema>
<xsd:import namespace="http://www.firstdata.com/fdcomar/" schemaLocation="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/commerceQueryServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findCommerces">
<part name="parameters" element="tns:findCommerces"></part>
</message>
<message name="findCommercesResponse">
<part name="parameters" element="tns:findCommercesResponse"></part>
</message>
<message name="commercesAdd">
<part name="parameters" element="tns:commercesAdd"></part>
</message>
<message name="commercesAddResponse">
<part name="parameters" element="tns:commercesAddResponse"></part>
</message>
<message name="commercesDesAdd">
<part name="parameters" element="tns:commercesDesAdd"></part>
</message>
<message name="commercesDesAddResponse">
<part name="parameters" element="tns:commercesDesAddResponse"></part>
</message>
<message name="commercesAvailable">
<part name="parameters" element="tns:commercesAvailable"></part>
</message>
<message name="commercesAvailableResponse">
<part name="parameters" element="tns:commercesAvailableResponse"></part>
</message>
<message name="installmentsPlan">
<part name="parameters" element="tns:installmentsPlan"></part>
</message>
<message name="installmentsPlanResponse">
<part name="parameters" element="tns:installmentsPlanResponse"></part>
</message>
<message name="balanceSummaryQuery">
<part name="parameters" element="tns:balanceSummaryQuery"></part>
</message>
<message name="balanceSummaryQueryResponse">
<part name="parameters" element="tns:balanceSummaryQueryResponse"></part>
</message>
<message name="queryCommerce">
<part name="parameters" element="tns:queryCommerce"></part>
</message>
<message name="queryCommerceResponse">
<part name="parameters" element="tns:queryCommerceResponse"></part>
</message>
<portType name="CommerceQueryServicesPortType">
<operation name="findCommerces">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/findCommercesRequest" message="tns:findCommerces"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/findCommercesResponse" message="tns:findCommercesResponse"></output>
</operation>
<operation name="commercesAdd">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAddRequest" message="tns:commercesAdd"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAddResponse" message="tns:commercesAddResponse"></output>
</operation>
<operation name="commercesDesAdd">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesDesAddRequest" message="tns:commercesDesAdd"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesDesAddResponse" message="tns:commercesDesAddResponse"></output>
</operation>
<operation name="commercesAvailable">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAvailableRequest" message="tns:commercesAvailable"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAvailableResponse" message="tns:commercesAvailableResponse"></output>
</operation>
<operation name="installmentsPlan">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/installmentsPlanRequest" message="tns:installmentsPlan"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/installmentsPlanResponse" message="tns:installmentsPlanResponse"></output>
</operation>
<operation name="balanceSummaryQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/balanceSummaryQueryRequest" message="tns:balanceSummaryQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/balanceSummaryQueryResponse" message="tns:balanceSummaryQueryResponse"></output>
</operation>
<operation name="queryCommerce">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/queryCommerceRequest" message="tns:queryCommerce"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/queryCommerceResponse" message="tns:queryCommerceResponse"></output>
</operation>
</portType>
<binding name="CommerceQueryServicesImplPortBinding" type="tns:CommerceQueryServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findCommerces">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="commercesAdd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="commercesDesAdd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="commercesAvailable">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="installmentsPlan">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="balanceSummaryQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryCommerce">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="commerceQueryServices">
<port name="CommerceQueryServicesImplPort" binding="tns:CommerceQueryServicesImplPortBinding">
<soap:address location="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/commerceQueryServices"></soap:address>
</port>
</service>
</definitions>