responses/wsdl/commerceServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="CommerceServices">
<types>
<xsd:schema>
<xsd:import namespace="http://www.firstdata.com/fdcomar/" schemaLocation="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/commerceServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="salesModeQuery">
<part name="parameters" element="tns:salesModeQuery"></part>
</message>
<message name="salesModeQueryResponse">
<part name="parameters" element="tns:salesModeQueryResponse"></part>
</message>
<message name="brandsBoxQuery">
<part name="parameters" element="tns:brandsBoxQuery"></part>
</message>
<message name="brandsBoxQueryResponse">
<part name="parameters" element="tns:brandsBoxQueryResponse"></part>
</message>
<message name="commerceCreate">
<part name="parameters" element="tns:commerceCreate"></part>
</message>
<message name="commerceCreateResponse">
<part name="parameters" element="tns:commerceCreateResponse"></part>
</message>
<message name="subscribePremium">
<part name="parameters" element="tns:subscribePremiumReq"></part>
</message>
<message name="subscribePremiumResponse">
<part name="parameters" element="tns:subscribePremiumResponse"></part>
</message>
<message name="unsubscribePremium">
<part name="parameters" element="tns:unsubscribePremiumReq"></part>
</message>
<message name="unsubscribePremiumResponse">
<part name="parameters" element="tns:unsubscribePremiumResponse"></part>
</message>
<message name="mccQuery">
<part name="parameters" element="tns:mccQuery"></part>
</message>
<message name="mccQueryResponse">
<part name="parameters" element="tns:mccQueryResponse"></part>
</message>
<portType name="CommerceServicesPortType">
<operation name="salesModeQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/salesModeQueryRequest" message="tns:salesModeQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/salesModeQueryResponse" message="tns:salesModeQueryResponse"></output>
</operation>
<operation name="brandsBoxQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/brandsBoxQueryRequest" message="tns:brandsBoxQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/brandsBoxQueryResponse" message="tns:brandsBoxQueryResponse"></output>
</operation>
<operation name="commerceCreate">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/commerceCreateRequest" message="tns:commerceCreate"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/commerceCreateResponse" message="tns:commerceCreateResponse"></output>
</operation>
<operation name="subscribePremium">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/subscribePremiumRequest" message="tns:subscribePremium"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/subscribePremiumResponse" message="tns:subscribePremiumResponse"></output>
</operation>
<operation name="unsubscribePremium">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/unsubscribePremiumRequest" message="tns:unsubscribePremium"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/unsubscribePremiumResponse" message="tns:unsubscribePremiumResponse"></output>
</operation>
<operation name="mccQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/mccQueryRequest" message="tns:mccQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceServicesPortType/mccQueryResponse" message="tns:mccQueryResponse"></output>
</operation>
</portType>
<binding name="CommerceServicesImplPortBinding" type="tns:CommerceServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="salesModeQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="brandsBoxQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="commerceCreate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscribePremium">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="unsubscribePremium">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="mccQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CommerceServices">
<port name="CommerceServicesImplPort" binding="tns:CommerceServicesImplPortBinding">
<soap:address location="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/commerceServices"></soap:address>
</port>
</service>
</definitions>