responses/wsdl/commerceQueryServices.wsdl.local

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="commerceQueryServices">
<types>
<xs:schema xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.firstdata.com/fdcomar/">

<xs:element name="balanceSummaryQuery" type="tns:balanceSummaryQueryReqType"></xs:element>

<xs:element name="balanceSummaryQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="totalSales" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="totalSettlement" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="totalDiscount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pendingPayment" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="commercesAdd" type="tns:commercesAddReqType"></xs:element>

<xs:element name="commercesAddResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="commerces" type="tns:commercesAddResType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="commercesAvailable" type="tns:commercesAvailableReqType"></xs:element>

<xs:element name="commercesAvailableResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="elementsNumber" type="xs:string"></xs:element>
<xs:element name="commerces" type="tns:commercesAvailableType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="commercesDesAdd" type="tns:commercesDesAddReqType"></xs:element>

<xs:element name="commercesDesAddResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="commerces" type="tns:commercesDesAddResType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="findCommerces" type="tns:findCommercesReqType"></xs:element>

<xs:element name="findCommercesResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="elementsNumber" type="xs:string"></xs:element>
<xs:element name="commerces" type="tns:commercesType"></xs:element>
<xs:element name="businessName" type="xs:string"></xs:element>
<xs:element name="premium" type="xs:int"></xs:element>
<xs:element name="vip" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="installmentsPlan" type="tns:installmentsPlanReqType"></xs:element>

<xs:element name="installmentsPlanResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="brands" type="tns:brandsInstallmentsListResType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="queryCommerce" type="tns:queryCommerceReqType"></xs:element>

<xs:element name="queryCommerceResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="bussinesName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="premiumBrand" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="commerceNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="checkDigit" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="commerceName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="state" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="deleteDescription" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dateDelete" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="commerceAddressAdditional" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="commerceStreet" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="commerceStreetNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="commerceFloor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="commerceLocation" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="commerceCountry" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="commerceProvince" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="commercePostalCode" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="mccCode" type="xs:int"></xs:element>
<xs:element name="mccDesc" type="xs:string"></xs:element>
<xs:element name="mccDetailCode" type="xs:int"></xs:element>
<xs:element name="mccDetailDesc" type="xs:string"></xs:element>
<xs:element name="paymentMethod" type="xs:int"></xs:element>
<xs:element name="paymentMethodDesc" type="xs:string"></xs:element>
<xs:element name="paymentAccount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="taxType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="grossIncome" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="entityCode" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="entityName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="entityFiscalNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="entityRetentionAgent" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="entityBranch" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="entityBranchName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="entityStreet" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="entityStreetNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="entityPostalCode" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="entityLocation" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="brands" type="tns:brandsQueryCommerceType" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="brandsInstallmentsListResType">
<xs:sequence>
<xs:element name="brand" type="tns:brandInstallmentResType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandInstallmentResType">
<xs:sequence>
<xs:element name="brandCod" type="xs:int"></xs:element>
<xs:element name="brandDesc" type="xs:string"></xs:element>
<xs:element name="coefficient" type="xs:int"></xs:element>
<xs:element name="installments" type="tns:installmentsListResType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsListResType">
<xs:sequence>
<xs:element name="installment" type="tns:installmentResType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentResType">
<xs:sequence>
<xs:element name="installments" type="xs:string"></xs:element>
<xs:element name="coefficient" type="xs:string"></xs:element>
<xs:element name="tax" type="xs:string"></xs:element>
<xs:element name="tea" type="xs:string"></xs:element>
<xs:element name="financeSaleFactor" type="xs:string"></xs:element>
<xs:element name="cft" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsBrandsListReqType">
<xs:sequence>
<xs:element name="brand" type="tns:installmentBrandReqType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentBrandReqType">
<xs:sequence>
<xs:element name="brandCod" type="xs:int"></xs:element>
<xs:element name="installments" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReturnServiceType">
<xs:sequence>
<xs:element name="return" type="tns:returnType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnType">
<xs:sequence>
<xs:element name="code" type="xs:string"></xs:element>
<xs:element name="description" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandsType">
<xs:sequence>
<xs:element name="brand" type="tns:brandType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandType">
<xs:sequence>
<xs:element name="codBrand" type="xs:int"></xs:element>
<xs:element name="descBrand" type="xs:string"></xs:element>
<xs:element name="financeCurrencyLocal" type="tns:financeType"></xs:element>
<xs:element name="financeDollar" type="tns:financeType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="financeType">
<xs:sequence>
<xs:element name="discountRate" type="xs:string"></xs:element>
<xs:element name="installmentNum" type="xs:int"></xs:element>
<xs:element name="paymentTerm" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesAddType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceAddType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceAddType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productsType">
<xs:sequence>
<xs:element name="product" type="tns:productType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productType">
<xs:sequence>
<xs:element name="productCode" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesDesAddResType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceDesAddResType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceDesAddResType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
<xs:element name="stateCommerce" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandsQueryCommerceType">
<xs:sequence>
<xs:element name="brand" type="tns:brandQueryCommerceType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandQueryCommerceType">
<xs:sequence>
<xs:element name="codBrand" type="xs:int"></xs:element>
<xs:element name="descBrand" type="xs:string"></xs:element>
<xs:element name="financeCurrencyLocal" type="tns:financeQueryCommerceType"></xs:element>
<xs:element name="financeDollar" type="tns:financeQueryCommerceType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="financeQueryCommerceType">
<xs:sequence>
<xs:element name="discountRate" type="xs:string"></xs:element>
<xs:element name="installmentNum" type="xs:int"></xs:element>
<xs:element name="paymentTerm" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsPlanReqType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
<xs:element name="country" type="xs:int"></xs:element>
<xs:element name="periodPayType" type="xs:string"></xs:element>
<xs:element name="periodPay" type="xs:int"></xs:element>
<xs:element name="brands" type="tns:installmentsBrandsListReqType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandNumberType">
<xs:sequence>
<xs:element name="brandNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesAvailableReqType">
<xs:sequence>
<xs:element name="user" type="xs:string"></xs:element>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="pageNumber" type="xs:string"></xs:element>
<xs:element name="pageElementsNumber" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCommercesReqType">
<xs:sequence>
<xs:element name="user" type="xs:string"></xs:element>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="pageNumber" type="xs:string"></xs:element>
<xs:element name="pageElementsNumber" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesSummaryListype">
<xs:sequence>
<xs:element name="commerce" type="tns:commercesSummaryType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesSummaryType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesAvailableType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceAvailableType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceAvailableType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:string"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
<xs:element name="stateCommerce" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceAddResType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
<xs:element name="stateCommerce" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesAddResType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceAddResType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesAddReqType">
<xs:sequence>
<xs:element name="user" type="xs:string"></xs:element>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerces" type="tns:commercesAddType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesDesAddType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceDesAddType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceDesAddType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandsListType">
<xs:sequence>
<xs:element name="brand" type="tns:brandNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:string"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
<xs:element name="commerceName" type="xs:string"></xs:element>
<xs:element name="addressAdditional" type="xs:string"></xs:element>
<xs:element name="addressStreet" type="xs:string"></xs:element>
<xs:element name="addressNumber" type="xs:string"></xs:element>
<xs:element name="addressFloor" type="xs:string"></xs:element>
<xs:element name="addressLocation" type="xs:string"></xs:element>
<xs:element name="addressCountry" type="xs:string"></xs:element>
<xs:element name="addressProvince" type="xs:string"></xs:element>
<xs:element name="addressPostCode" type="xs:string"></xs:element>
<xs:element name="mccCode" type="xs:int"></xs:element>
<xs:element name="mccDesc" type="xs:string"></xs:element>
<xs:element name="mccDetailCode" type="xs:int"></xs:element>
<xs:element name="mccDetailDesc" type="xs:string"></xs:element>
<xs:element name="payingEntityCode" type="xs:int"></xs:element>
<xs:element name="payingEntityDesc" type="xs:string"></xs:element>
<xs:element name="deleteDescription" type="xs:string"></xs:element>
<xs:element name="dateDelete" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="state" type="xs:string"></xs:element>
<xs:element name="paymentMethod" type="xs:int"></xs:element>
<xs:element name="paymentMethodDesc" type="xs:string"></xs:element>
<xs:element name="account" type="xs:string"></xs:element>
<xs:element name="taxType" type="xs:string"></xs:element>
<xs:element name="grossIncome" type="xs:string"></xs:element>
<xs:element name="brands" type="tns:brandsType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CommerceQueryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="queryCommerceReqType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesDesAddReqType">
<xs:sequence>
<xs:element name="user" type="xs:string"></xs:element>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerces" type="tns:commercesDesAddType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="balanceSummaryQueryReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesSummaryListype"></xs:element>
<xs:element name="products" type="tns:productsType"></xs:element>
<xs:element name="sign" type="xs:string"></xs:element>
<xs:element name="days" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="commercesAvailable">
<part name="parameters" element="tns:commercesAvailable"></part>
</message>
<message name="commercesAvailableResponse">
<part name="parameters" element="tns:commercesAvailableResponse"></part>
</message>
<message name="balanceSummaryQuery">
<part name="parameters" element="tns:balanceSummaryQuery"></part>
</message>
<message name="balanceSummaryQueryResponse">
<part name="parameters" element="tns:balanceSummaryQueryResponse"></part>
</message>
<message name="findCommerces">
<part name="parameters" element="tns:findCommerces"></part>
</message>
<message name="findCommercesResponse">
<part name="parameters" element="tns:findCommercesResponse"></part>
</message>
<message name="commercesAdd">
<part name="parameters" element="tns:commercesAdd"></part>
</message>
<message name="commercesAddResponse">
<part name="parameters" element="tns:commercesAddResponse"></part>
</message>
<message name="commercesDesAdd">
<part name="parameters" element="tns:commercesDesAdd"></part>
</message>
<message name="commercesDesAddResponse">
<part name="parameters" element="tns:commercesDesAddResponse"></part>
</message>
<message name="installmentsPlan">
<part name="parameters" element="tns:installmentsPlan"></part>
</message>
<message name="installmentsPlanResponse">
<part name="parameters" element="tns:installmentsPlanResponse"></part>
</message>
<portType name="CommerceQueryServicesPortType">
<operation name="commercesAvailable">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAvailableRequest" message="tns:commercesAvailable"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAvailableResponse" message="tns:commercesAvailableResponse"></output>
</operation>
<operation name="balanceSummaryQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/balanceSummaryQueryRequest" message="tns:balanceSummaryQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/balanceSummaryQueryResponse" message="tns:balanceSummaryQueryResponse"></output>
</operation>
<operation name="findCommerces">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/findCommercesRequest" message="tns:findCommerces"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/findCommercesResponse" message="tns:findCommercesResponse"></output>
</operation>
<operation name="commercesAdd">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAddRequest" message="tns:commercesAdd"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesAddResponse" message="tns:commercesAddResponse"></output>
</operation>
<operation name="commercesDesAdd">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesDesAddRequest" message="tns:commercesDesAdd"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/commercesDesAddResponse" message="tns:commercesDesAddResponse"></output>
</operation>
<operation name="installmentsPlan">
<input wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/installmentsPlanRequest" message="tns:installmentsPlan"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/CommerceQueryServicesPortType/installmentsPlanResponse" message="tns:installmentsPlanResponse"></output>
</operation>
</portType>
<binding name="CommerceQueryServicesImplPortBinding" type="tns:CommerceQueryServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="commercesAvailable">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="balanceSummaryQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findCommerces">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="commercesAdd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="commercesDesAdd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="installmentsPlan">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="commerceQueryServices">
<port name="CommerceQueryServicesImplPort" binding="tns:CommerceQueryServicesImplPortBinding">
<soap:address location="http://localhost:8090/fdcomar-services/commerceQueryServices"></soap:address>
</port>
</service>
</definitions>