responses/wsdl/reportServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="reportServices">
<types>

<xs:schema xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.firstdata.com/fdcomar/">

<xs:element name="brandProduct" type="tns:brandProductReqType"></xs:element>

<xs:element name="brandProductResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="brandsProducts" type="tns:brandProductListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="creditDebit" type="tns:creditDebitReqType"></xs:element>

<xs:element name="creditDebitResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="creditsDebits" type="tns:creditDebitListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="customersByAge" type="tns:customersByAgeReqType"></xs:element>

<xs:element name="customersByAgeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="customersByAgeList" type="tns:customersByAgeListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>


<xs:element name="customersByAgeSummaryResponse">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="returnService" type="tns:ReturnServiceType"
					minOccurs="1" maxOccurs="1"></xs:element>

				<xs:element name="customersByAgeSummaryList" type="tns:customersByAgeListSummaryType"
					maxOccurs="1" minOccurs="1"></xs:element>
			</xs:sequence>
		</xs:complexType>

	</xs:element>
	
		<xs:complexType name="customersByAgeListSummaryType">
		<xs:sequence>
			<xs:element name="customersByAge" type="tns:customerByAgeListSummaryType"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element name="customersBySex" type="tns:customerByAgeListSummaryType"
				minOccurs="0" maxOccurs="unbounded"></xs:element>	
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="customerByAgeListSummaryType">
		<xs:sequence>

		

			<xs:element name="valueSummary" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Sexo o Rango de Edad</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="transactionsSummary" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de ventas
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

<xs:element name="diarySales" type="tns:diarySalesReqType"></xs:element>







<xs:element name="installmentsCash" type="tns:installmentsCashReqType"></xs:element>

<xs:element name="installmentsCashCommerces" type="tns:installmentsCashCommercesReqType"></xs:element>

<xs:element name="installmentsCashCommercesResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="installmentsCashCommerces" type="tns:installmentsCashCommercesListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="installmentsCashPeriod" type="tns:installmentsCashPeriodReqType"></xs:element>

<xs:element name="installmentsCashPeriodResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="installmentsCashPeriodList" type="tns:installmentsCashPeriodListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="installmentsCashResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="installmentsCashList" type="tns:installmentsCashListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="localForeignSales" type="tns:localForeignSalesReqType"></xs:element>

<xs:element name="localForeignSalesSummaryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="localForeignSalesSummary" type="tns:localForeignSalesSummaryType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="productSales" type="tns:productSalesReqType"></xs:element>

<xs:element name="productSalesResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="productSalesList" type="tns:productSalesListType" maxOccurs="unbounded" minOccurs="1"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="salesByProvince" type="tns:salesByProvinceReqType"></xs:element>

<xs:element name="salesByProvinceResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="salesByProvinceList" type="tns:salesByProvinceListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="salesEvolution" type="tns:salesEvolutionReqType"></xs:element>

<xs:element name="salesEvolutionResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="year1" type="xs:int"></xs:element>
<xs:element name="year2" type="xs:int"></xs:element>
<xs:element name="monthlyAverageYear1" type="xs:string"></xs:element>
<xs:element name="monthlyAverageYear2" type="xs:string"></xs:element>
<xs:element name="salesEvolutionList" type="tns:salesEvolutionListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="totalSales" type="tns:totalSalesReqType"></xs:element>

<xs:element name="totalSalesResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="totalSales" type="tns:totalSalesListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="returnType">
<xs:sequence>
<xs:element name="code" type="xs:string"></xs:element>
<xs:element name="description" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReturnServiceType">
<xs:sequence>
<xs:element name="return" type="tns:returnType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandsListType">
<xs:sequence>
<xs:element name="brand" type="tns:brandNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandNumberType">
<xs:sequence>
<xs:element name="brandNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CommerceQueryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productsType">
<xs:sequence>
<xs:element name="product" type="tns:productType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productType">
<xs:sequence>
<xs:element name="productCode" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalSalesReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType"></xs:element>
<xs:element name="brands" type="tns:brandsListType"></xs:element>
<xs:element name="dateFrom" type="xs:date"></xs:element>
<xs:element name="dateTo" type="xs:date"></xs:element>
<xs:element name="currencies" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="diarySalesReqType">
<xs:sequence>
<xs:element type="tns:commercesListType" name="commerces"/>
<xs:element name="date1" type="xs:date"></xs:element>
<xs:element name="date2" type="xs:date"></xs:element>
<xs:element name="brands" type="xs:string"></xs:element>
<xs:element name="currencies" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customersByAgeListType">
<xs:sequence>
<xs:element name="customersByAge" type="tns:customerByAgeListType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerByAgeListType">
<xs:sequence>
<xs:element name="sex" type="xs:string"></xs:element>
<xs:element name="ageRange" type="xs:string"></xs:element>
<xs:element name="transactions" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditDebitType">
<xs:sequence>
<xs:element name="date" type="xs:date"></xs:element>
<xs:element name="totalDebit" type="xs:string"></xs:element>
<xs:element name="totalCredit" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productSalesListType">
<xs:sequence>
<xs:element name="productSalesListType" type="tns:productSaleListType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

	<xs:complexType name="productSaleListType">
		<xs:sequence>

			<xs:element name="product" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripcion del Producto</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="transactions" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de ventas
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

<xs:complexType name="creditDebitListType">
<xs:sequence>
<xs:element name="creditDebit" type="tns:creditDebitType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="diarySalesListType">
<xs:sequence>
<xs:element name="diarySales" type="tns:diarySaleType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

	<xs:element name="diarySalesSummaryResponse">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="returnService" type="tns:ReturnServiceType"
					minOccurs="1" maxOccurs="1"></xs:element>

				<xs:element name="diarySalesList" type="tns:diarySalesSummaryListType"
					maxOccurs="1" minOccurs="1"></xs:element>
			</xs:sequence>
		</xs:complexType>

	</xs:element>


	<xs:complexType name="diarySalesSummaryListType">
		<xs:sequence>
			<xs:element name="diarySalesSummary" type="tns:diarySaleSummaryType"
				minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

<xs:complexType name="diarySaleSummaryType">
		<xs:sequence>
			
			<xs:element name="dateSummary" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de operacion
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			
			<xs:element name="valueSummary" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Importe Bruto o Cantidad
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

		</xs:sequence>
</xs:complexType>


<xs:element name="salesByProvinceSummaryResponse">

		<xs:complexType>
			<xs:sequence>
				<xs:element name="returnService" type="tns:ReturnServiceType"
					minOccurs="1" maxOccurs="1"></xs:element>

				<xs:element name="salesByProvinceSummary" type="tns:salesByProvinceSummaryType"
					maxOccurs="1" minOccurs="1"></xs:element>
			</xs:sequence>
		</xs:complexType>

	</xs:element>



	<xs:complexType name="salesByProvinceSummaryType">
		<xs:sequence>
			<xs:element name="totalCenter" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de ventas del centro
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="totalSouth" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de ventas del Sur
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="totalNorth" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de ventas del norte
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element name="totalWest" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de ventas del Oeste
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="999" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

<xs:complexType name="diarySaleType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="operationDate" type="xs:date"></xs:element>
<xs:element name="installments" type="xs:int"></xs:element>
<xs:element name="loquidatedDate" type="xs:date"></xs:element>
<xs:element name="amounts" type="xs:int"></xs:element>
<xs:element name="grossAmount" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productSalesReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType" minOccurs="1"
	maxOccurs="1">
	<xs:annotation>
		<xs:documentation>Listado de comercios</xs:documentation>
	</xs:annotation></xs:element>
	<xs:element name="rangesDate" type="tns:rangeDateListType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Listado de rango de fechas</xs:documentation>
				</xs:annotation>
	</xs:element>

<xs:element name="brands" type="xs:string"></xs:element>
<xs:element name="currency" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>


<xs:complexType name="rangeDateListType">
		<xs:sequence>
			<xs:element name="rangeDate" type="tns:rangeDateType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="rangeDateType">

		<xs:sequence>


			<xs:element name="date1" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha desde</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="date2" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha hasta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="localForeignSalesSummaryType">
		<xs:sequence>
			<xs:element name="totalLocal" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                	<xs:documentation>Total Local</xs:documentation></xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:decimal">
                       <xs:fractionDigits  value="2"/>
                   </xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="totalForeign" maxOccurs="1" minOccurs="1">
                <xs:annotation>
                	<xs:documentation>Total Extranjero</xs:documentation></xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:decimal">
                       <xs:fractionDigits  value="2"/>
                   </xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

<xs:complexType name="brandProductType">
<xs:sequence>
<xs:element name="date" type="xs:date"></xs:element>
<xs:element name="brandNumber" type="xs:int"></xs:element>
<xs:element name="brandDescription" type="xs:string"></xs:element>
<xs:element name="totalTransactions" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesEvolutionReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType" minOccurs="1"
				maxOccurs="1">
	<xs:annotation>
		<xs:documentation>Listado de comercios</xs:documentation>
	</xs:annotation>
</xs:element>
<xs:element name="year1" type="xs:int"></xs:element>
<xs:element name="year2" type="xs:int"></xs:element>
<xs:element name="brands" type="xs:string"></xs:element>
<xs:element name="currency" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalSalesListType">
<xs:sequence>
<xs:element name="totalSale" type="tns:totalSalesType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="totalSalesType">
<xs:sequence>
<xs:element name="date" type="xs:date"></xs:element>
<xs:element name="total" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesByProvinceReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Listado de comercios</xs:documentation>
				</xs:annotation>
</xs:element>
<xs:element name="date1" type="xs:date"></xs:element>
<xs:element name="date2" type="xs:date"></xs:element>
<xs:element name="brands" type="xs:string"></xs:element>
<xs:element name="currencies" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandProductListType">
<xs:sequence>
<xs:element name="brandProduct" type="tns:brandProductType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsCashListType">
<xs:sequence>
<xs:element name="installmentsCash" type="tns:installmentCashListType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentCashListType">
<xs:sequence>
<xs:element name="period" type="xs:string"></xs:element>
<xs:element name="totalCash" type="xs:string"></xs:element>
<xs:element name="totalInstallments" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localForeignSalesReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType" minOccurs="1"
	maxOccurs="1">
	<xs:annotation>
		<xs:documentation>Listado de comercios</xs:documentation>
	</xs:annotation>
</xs:element>
<xs:element name="periodFrom" type="xs:int"></xs:element>
<xs:element name="periodTo" type="xs:int"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
<xs:element name="country" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customersByAgeReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType" minOccurs="1"
				maxOccurs="1">
	<xs:annotation>
		<xs:documentation>Listado de comercios</xs:documentation>
	</xs:annotation>
</xs:element>
<xs:element name="date1" type="xs:date"></xs:element>
<xs:element name="date2" type="xs:date"></xs:element>
<xs:element name="brands" type="xs:string"></xs:element>
<xs:element name="currency" type="xs:string"></xs:element>
<xs:element name="provinces" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesEvolutionListType">
<xs:sequence>
<xs:element name="salesEvolution" type="tns:saleEvolutionListType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleEvolutionListType">
<xs:sequence>
<xs:element name="month" type="xs:string"></xs:element>
<xs:element name="salesMonthYear1" type="xs:int"></xs:element>
<xs:element name="salesMonthYear2" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleByProvinceListType">
<xs:sequence>
<xs:element name="province" type="xs:string"></xs:element>
<xs:element name="transactions" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesByProvinceListType">
<xs:sequence>
<xs:element name="salesByProvince" type="tns:saleByProvinceListType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditDebitReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType"></xs:element>
<xs:element name="brands" type="tns:brandsListType"></xs:element>
<xs:element name="dateFrom" type="xs:date"></xs:element>
<xs:element name="dateTo" type="xs:date"></xs:element>
<xs:element name="currencies" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsCashReqType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="periodFrom" type="xs:int"></xs:element>
<xs:element name="periodTo" type="xs:int"></xs:element>
<xs:element name="currencies" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandProductReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType"></xs:element>
<xs:element name="brands" type="tns:brandsListType"></xs:element>
<xs:element name="date1" type="xs:string"></xs:element>
<xs:element name="date2" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsCashCommercesReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesListType"></xs:element>
<xs:element name="brands" type="tns:brandsListType"></xs:element>
<xs:element name="dateFrom" type="xs:date"></xs:element>
<xs:element name="dateTo" type="xs:date"></xs:element>
<xs:element name="currencies" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsCashPeriodReqType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="periodFrom" type="xs:int"></xs:element>
<xs:element name="periodTo" type="xs:int"></xs:element>
<xs:element name="currencies" type="xs:string"></xs:element>
<xs:element name="salesAmountType" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsCashPeriodListType">
<xs:sequence>
<xs:element name="installmentsCashPeriod" type="tns:installmentCashPeriodListType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentCashPeriodListType">
<xs:sequence>
<xs:element name="period" type="xs:string"></xs:element>
<xs:element name="totalCash" type="xs:string"></xs:element>
<xs:element name="totalInstallments" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsCashCommercesType">
<xs:sequence>
<xs:element name="period" type="xs:int"></xs:element>
<xs:element name="totalCash" type="xs:string"></xs:element>
<xs:element name="totalInstallments" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="installmentsCashCommercesListType">
<xs:sequence>
<xs:element name="installmentsCashCommerce" type="tns:installmentsCashCommercesType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>


</types>
<message name="installmentsCashCommerces">
<part name="parameters" element="tns:installmentsCashCommerces"></part>
</message>
<message name="installmentsCashCommercesResponse">
<part name="parameters" element="tns:installmentsCashCommercesResponse"></part>
</message>
<message name="installmentsCashPeriod">
<part name="parameters" element="tns:installmentsCashPeriod"></part>
</message>
<message name="installmentsCashPeriodResponse">
<part name="parameters" element="tns:installmentsCashPeriodResponse"></part>
</message>
<message name="localForeignSales">
<part name="parameters" element="tns:localForeignSales"></part>
</message>
<message name="localForeignSalesResponse">
<part name="parameters" element="tns:localForeignSalesSummaryResponse"></part>
</message>
<message name="installmentsCash">
<part name="parameters" element="tns:installmentsCash"></part>
</message>
<message name="installmentsCashResponse">
<part name="parameters" element="tns:installmentsCashResponse"></part>
</message>
<message name="salesEvolution">
<part name="parameters" element="tns:salesEvolution"></part>
</message>
<message name="salesEvolutionResponse">
<part name="parameters" element="tns:salesEvolutionResponse"></part>
</message>
<message name="customersByAge">
<part name="parameters" element="tns:customersByAge"></part>
</message>
<message name="customersByAgeResponse">
<part name="parameters" element="tns:customersByAgeSummaryResponse"></part>
</message>
<message name="productSales">
<part name="parameters" element="tns:productSales"></part>
</message>
<message name="productSalesResponse">
<part name="parameters" element="tns:productSalesResponse"></part>
</message>
<message name="salesByProvince">
<part name="parameters" element="tns:salesByProvince"></part>
</message>
<message name="salesByProvinceResponse">
<part name="parameters" element="tns:salesByProvinceSummaryResponse"></part>
</message>
<message name="diarySales">
<part name="parameters" element="tns:diarySales"></part>
</message>
<message name="diarySalesResponse">
<part name="parameters" element="tns:diarySalesSummaryResponse"></part>
</message>
<message name="creditDebit">
<part name="parameters" element="tns:creditDebit"></part>
</message>
<message name="creditDebitResponse">
<part name="parameters" element="tns:creditDebitResponse"></part>
</message>
<message name="brandProduct">
<part name="parameters" element="tns:brandProduct"></part>
</message>
<message name="brandProductResponse">
<part name="parameters" element="tns:brandProductResponse"></part>
</message>
<message name="totalSales">
<part name="parameters" element="tns:totalSales"></part>
</message>
<message name="totalSalesResponse">
<part name="parameters" element="tns:totalSalesResponse"></part>
</message>
<portType name="ReportServicesPortType">
<operation name="installmentsCashCommerces">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashCommercesRequest" message="tns:installmentsCashCommerces"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashCommercesResponse" message="tns:installmentsCashCommercesResponse"></output>
</operation>
<operation name="installmentsCashPeriod">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashPeriodRequest" message="tns:installmentsCashPeriod"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashPeriodResponse" message="tns:installmentsCashPeriodResponse"></output>
</operation>
<operation name="localForeignSales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/localForeignSalesRequest" message="tns:localForeignSales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/localForeignSalesResponse" message="tns:localForeignSalesResponse"></output>
</operation>
<operation name="installmentsCash">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashRequest" message="tns:installmentsCash"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashResponse" message="tns:installmentsCashResponse"></output>
</operation>
<operation name="salesEvolution">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesEvolutionRequest" message="tns:salesEvolution"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesEvolutionResponse" message="tns:salesEvolutionResponse"></output>
</operation>
<operation name="customersByAge">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/customersByAgeRequest" message="tns:customersByAge"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/customersByAgeResponse" message="tns:customersByAgeResponse"></output>
</operation>
<operation name="productSales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/productSalesRequest" message="tns:productSales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/productSalesResponse" message="tns:productSalesResponse"></output>
</operation>
<operation name="salesByProvince">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesByProvinceRequest" message="tns:salesByProvince"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesByProvinceResponse" message="tns:salesByProvinceResponse"></output>
</operation>
<operation name="diarySales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/diarySalesRequest" message="tns:diarySales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/diarySalesResponse" message="tns:diarySalesResponse"></output>
</operation>
<operation name="creditDebit">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/creditDebitRequest" message="tns:creditDebit"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/creditDebitResponse" message="tns:creditDebitResponse"></output>
</operation>
<operation name="brandProduct">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/brandProductRequest" message="tns:brandProduct"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/brandProductResponse" message="tns:brandProductResponse"></output>
</operation>
<operation name="totalSales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/totalSalesRequest" message="tns:totalSales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/totalSalesResponse" message="tns:totalSalesResponse"></output>
</operation>
</portType>
<binding name="ReportServicesImplPortBinding" type="tns:ReportServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="installmentsCashCommerces">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="installmentsCashPeriod">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="localForeignSales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="installmentsCash">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="salesEvolution">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="customersByAge">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="productSales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="salesByProvince">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="diarySales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="creditDebit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="brandProduct">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="totalSales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="reportServices">
<port name="ReportServicesImplPort" binding="tns:ReportServicesImplPortBinding">
<soap:address location="http://localhost:8090/fdcomar-services/reportServices"></soap:address>
</port>
</service>
</definitions>