responses/wsdl/reportServices.wsdl.remote

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="reportServices">
<types>
<xsd:schema>
<xsd:import namespace="http://www.firstdata.com/fdcomar/" schemaLocation="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/reportServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="installmentsCash">
<part name="parameters" element="tns:installmentsCashRequest"></part>
</message>
<message name="installmentsCashResponse">
<part name="parameters" element="tns:installmentsCashResponse"></part>
</message>
<message name="salesEvolution">
<part name="parameters" element="tns:salesEvolution"></part>
</message>
<message name="salesEvolutionResponse">
<part name="parameters" element="tns:salesEvolutionResponse"></part>
</message>
<message name="customersByAge">
<part name="parameters" element="tns:customersByAge"></part>
</message>
<message name="customersByAgeResponse">
<part name="parameters" element="tns:customersByAgeSummaryResponse"></part>
</message>
<message name="productSales">
<part name="parameters" element="tns:productSales"></part>
</message>
<message name="productSalesResponse">
<part name="parameters" element="tns:productSalesResponse"></part>
</message>
<message name="salesByProvince">
<part name="parameters" element="tns:salesByProvince"></part>
</message>
<message name="salesByProvinceResponse">
<part name="parameters" element="tns:salesByProvinceSummaryResponse"></part>
</message>
<message name="diarySales">
<part name="parameters" element="tns:diarySales"></part>
</message>
<message name="diarySalesResponse">
<part name="parameters" element="tns:diarySalesSummaryResponse"></part>
</message>
<message name="localForeignSales">
<part name="parameters" element="tns:localForeignSales"></part>
</message>
<message name="localForeignSalesResponse">
<part name="parameters" element="tns:localForeignSalesResponse"></part>
</message>
<message name="creditDebit">
<part name="parameters" element="tns:creditDebit"></part>
</message>
<message name="creditDebitResponse">
<part name="parameters" element="tns:creditDebitResponse"></part>
</message>
<message name="brandProduct">
<part name="parameters" element="tns:brandProduct"></part>
</message>
<message name="brandProductResponse">
<part name="parameters" element="tns:brandProductResponse"></part>
</message>
<message name="totalSales">
<part name="parameters" element="tns:totalSales"></part>
</message>
<message name="totalSalesResponse">
<part name="parameters" element="tns:totalSalesResponse"></part>
</message>
<message name="installmentsCashCommerces">
<part name="parameters" element="tns:installmentsCashCommerces"></part>
</message>
<message name="installmentsCashCommercesResponse">
<part name="parameters" element="tns:installmentsCashCommercesResponse"></part>
</message>
<portType name="ReportServicesPortType">
<operation name="installmentsCash">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashRequest" message="tns:installmentsCash"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashResponse" message="tns:installmentsCashResponse"></output>
</operation>
<operation name="salesEvolution">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesEvolutionRequest" message="tns:salesEvolution"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesEvolutionResponse" message="tns:salesEvolutionResponse"></output>
</operation>
<operation name="customersByAge">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/customersByAgeRequest" message="tns:customersByAge"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/customersByAgeResponse" message="tns:customersByAgeResponse"></output>
</operation>
<operation name="productSales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/productSalesRequest" message="tns:productSales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/productSalesResponse" message="tns:productSalesResponse"></output>
</operation>
<operation name="salesByProvince">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesByProvinceRequest" message="tns:salesByProvince"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/salesByProvinceResponse" message="tns:salesByProvinceResponse"></output>
</operation>
<operation name="diarySales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/diarySalesRequest" message="tns:diarySales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/diarySalesResponse" message="tns:diarySalesResponse"></output>
</operation>
<operation name="localForeignSales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/localForeignSalesRequest" message="tns:localForeignSales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/localForeignSalesResponse" message="tns:localForeignSalesResponse"></output>
</operation>
<operation name="creditDebit">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/creditDebitRequest" message="tns:creditDebit"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/creditDebitResponse" message="tns:creditDebitResponse"></output>
</operation>
<operation name="brandProduct">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/brandProductRequest" message="tns:brandProduct"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/brandProductResponse" message="tns:brandProductResponse"></output>
</operation>
<operation name="totalSales">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/totalSalesRequest" message="tns:totalSales"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/totalSalesResponse" message="tns:totalSalesResponse"></output>
</operation>
<operation name="installmentsCashCommerces">
<input wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashCommercesRequest" message="tns:installmentsCashCommerces"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/ReportServicesPortType/installmentsCashCommercesResponse" message="tns:installmentsCashCommercesResponse"></output>
</operation>
</portType>
<binding name="ReportServicesImplPortBinding" type="tns:ReportServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="installmentsCash">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="salesEvolution">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="customersByAge">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="productSales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="salesByProvince">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="diarySales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="localForeignSales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="creditDebit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="brandProduct">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="totalSales">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="installmentsCashCommerces">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="reportServices">
<port name="ReportServicesImplPort" binding="tns:ReportServicesImplPortBinding">
<soap:address location="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/reportServices"></soap:address>
</port>
</service>
</definitions>