responses/wsdl/userServices.wsdl.remote

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="userServices">
<types>
<xsd:schema>
<xsd:import namespace="http://www.firstdata.com/fdcomar/" schemaLocation="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/userServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="recoveryPassword">
<part name="parameters" element="tns:recoveryPassword"></part>
</message>
<message name="recoveryPasswordResponse">
<part name="parameters" element="tns:recoveryPasswordResponse"></part>
</message>
<message name="userAdd">
<part name="parameters" element="tns:userAdd"></part>
</message>
<message name="userAddResponse">
<part name="parameters" element="tns:userAddResponse"></part>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"></part>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"></part>
</message>
<message name="selfManagement">
<part name="parameters" element="tns:selfManagement"></part>
</message>
<message name="selfManagementResponse">
<part name="parameters" element="tns:selfManagementResponse"></part>
</message>
<message name="validateQuestions">
<part name="parameters" element="tns:validateQuestions"></part>
</message>
<message name="validateQuestionsResponse">
<part name="parameters" element="tns:validateQuestionsResponse"></part>
</message>
<message name="secondaryUserAdd">
<part name="parameters" element="tns:secondaryUserAdd"></part>
</message>
<message name="secondaryUserAddResponse">
<part name="parameters" element="tns:secondaryUserAddResponse"></part>
</message>
<message name="reactivateSecondaryUser">
<part name="parameters" element="tns:reactivateSecondaryUser"></part>
</message>
<message name="reactivateSecondaryUserResponse">
<part name="parameters" element="tns:reactivateSecondaryUserResponse"></part>
</message>
<message name="deleteSecondaryUser">
<part name="parameters" element="tns:deleteSecondaryUser"></part>
</message>
<message name="deleteSecondaryUserResponse">
<part name="parameters" element="tns:deleteSecondaryUserResponse"></part>
</message>
<portType name="UserServicesPortType">
<operation name="login">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/loginRequest" message="tns:login"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="recoveryPassword">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/recoveryPasswordRequest" message="tns:recoveryPassword"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/recoveryPasswordResponse" message="tns:recoveryPasswordResponse"></output>
</operation>
<operation name="userAdd">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/userAddRequest" message="tns:userAdd"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/userAddResponse" message="tns:userAddResponse"></output>
</operation>
<operation name="changePassword">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/changePasswordRequest" message="tns:changePassword"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/changePasswordResponse" message="tns:changePasswordResponse"></output>
</operation>
<operation name="selfManagement">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/selfManagementRequest" message="tns:selfManagement"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/selfManagementResponse" message="tns:selfManagementResponse"></output>
</operation>
<operation name="validateQuestions">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/validateQuestionsRequest" message="tns:validateQuestions"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/validateQuestionsResponse" message="tns:validateQuestionsResponse"></output>
</operation>
<operation name="secondaryUserAdd">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/secondaryUserAddRequest" message="tns:secondaryUserAdd"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/secondaryUserAddResponse" message="tns:secondaryUserAddResponse"></output>
</operation>
<operation name="reactivateSecondaryUser">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/reactivateSecondaryUserRequest" message="tns:reactivateSecondaryUser"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/reactivateSecondaryUserResponse" message="tns:reactivateSecondaryUserResponse"></output>
</operation>
<operation name="deleteSecondaryUser">
<input wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/deleteSecondaryUserRequest" message="tns:deleteSecondaryUser"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/UserServicesPortType/deleteSecondaryUserResponse" message="tns:deleteSecondaryUserResponse"></output>
</operation>
</portType>
<binding name="UserServicesImplPortBinding" type="tns:UserServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="recoveryPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userAdd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="selfManagement">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="validateQuestions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="secondaryUserAdd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="reactivateSecondaryUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteSecondaryUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="userServices">
<port name="UserServicesImplPort" binding="tns:UserServicesImplPortBinding">
<soap:address location="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/userServices"></soap:address>
</port>
</service>
</definitions>