responses/wsdl/valServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdadvancedsale/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdadvancedsale/" name="valServices">
<types>
<xsd:schema>
<xsd:import namespace="http://www.firstdata.com/fdadvancedsale/" schemaLocation="https://test.serviciosfd.firstdata.com.ar:8443/fd-advanced-sale-services/valServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="activeContracts">
<part name="parameters" element="tns:activeContracts"></part>
</message>
<message name="activeContractsResponse">
<part name="parameters" element="tns:activeContractsResponse"></part>
</message>
<message name="availableContracts">
<part name="parameters" element="tns:availableContracts"></part>
</message>
<message name="availableContractsResponse">
<part name="parameters" element="tns:availableContractsResponse"></part>
</message>
<message name="enrollContracts">
<part name="parameters" element="tns:enrollContracts"></part>
</message>
<message name="enrollContractsResponse">
<part name="parameters" element="tns:enrollContractsResponse"></part>
</message>
<message name="cancelContractsAutoRenewal">
<part name="parameters" element="tns:cancelContractsAutoRenewal"></part>
</message>
<message name="cancelContractsAutoRenewalResponse">
<part name="parameters" element="tns:cancelContractsAutoRenewalResponse"></part>
</message>
<message name="checkAvailability">
<part name="parameters" element="tns:checkAvailability"></part>
</message>
<message name="checkAvailabilityResponse">
<part name="parameters" element="tns:checkAvailabilityResponse"></part>
</message>
<portType name="ValServicesPortType">
<operation name="activeContracts">
<input wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/activeContractsRequest" message="tns:activeContracts"></input>
<output wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/activeContractsResponse" message="tns:activeContractsResponse"></output>
</operation>
<operation name="availableContracts">
<input wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/availableContractsRequest" message="tns:availableContracts"></input>
<output wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/availableContractsResponse" message="tns:availableContractsResponse"></output>
</operation>
<operation name="enrollContracts">
<input wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/enrollContractsRequest" message="tns:enrollContracts"></input>
<output wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/enrollContractsResponse" message="tns:enrollContractsResponse"></output>
</operation>
<operation name="cancelContractsAutoRenewal">
<input wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/cancelContractsAutoRenewalRequest" message="tns:cancelContractsAutoRenewal"></input>
<output wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/cancelContractsAutoRenewalResponse" message="tns:cancelContractsAutoRenewalResponse"></output>
</operation>
<operation name="checkAvailability">
<input wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/checkAvailabilityRequest" message="tns:checkAvailability"></input>
<output wsam:Action="http://www.firstdata.com/fdadvancedsale/ValServicesPortType/checkAvailabilityResponse" message="tns:checkAvailabilityResponse"></output>
</operation>
</portType>
<binding name="ValServicesImplPortBinding" type="tns:ValServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="activeContracts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="availableContracts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="enrollContracts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelContractsAutoRenewal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkAvailability">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="valServices">
<port name="ValServicesImplPort" binding="tns:ValServicesImplPortBinding">
<soap:address location="https://test.serviciosfd.firstdata.com.ar:8443/fd-advanced-sale-services/valServices"></soap:address>
</port>
</service>
</definitions>