responses/wsdl/voucherServices.wsdl.remote

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="voucherServices">
<types>
<xsd:schema>
<xsd:import namespace="http://www.firstdata.com/fdcomar/" schemaLocation="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/voucherServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="presentedTransactions">
<part name="parameters" element="tns:presentedTransactions"></part>
</message>
<message name="presentedTransactionsResponse">
<part name="parameters" element="tns:presentedTransactionsResponse"></part>
</message>
<message name="vouchersQuery">
<part name="parameters" element="tns:vouchersQuery"></part>
</message>
<message name="vouchersQueryResponse">
<part name="parameters" element="tns:vouchersQueryResponse"></part>
</message>
<message name="settlementsQuery">
<part name="parameters" element="tns:settlementsQuery"></part>
</message>
<message name="settlementsQueryResponse">
<part name="parameters" element="tns:settlementsQueryResponse"></part>
</message>
<message name="dailySettlementPDF">
<part name="parameters" element="tns:dailySettlementPDFReq"></part>
</message>
<message name="dailySettlementPDFResponse">
<part name="parameters" element="tns:dailySettlementPDFResponse"></part>
</message>
<message name="dailySettlementQuery">
<part name="parameters" element="tns:dailySettlementQuery"></part>
</message>
<message name="dailySettlementQueryResponse">
<part name="parameters" element="tns:dailySettlementQueryResponse"></part>
</message>
<message name="chargebackQuery">
<part name="parameters" element="tns:chargebackQuery"></part>
</message>
<message name="chargebackQueryResponse">
<part name="parameters" element="tns:chargebackQueryResponse"></part>
</message>
<message name="salesQuery">
<part name="parameters" element="tns:salesQuery"></part>
</message>
<message name="salesQueryResponse">
<part name="parameters" element="tns:salesQueryResponse"></part>
</message>
<message name="monthlySettlementQuery">
<part name="parameters" element="tns:monthlySettlementQuery"></part>
</message>
<message name="monthlySettlementQueryResponse">
<part name="parameters" element="tns:monthlySettlementQueryResponse"></part>
</message>
<message name="findDetailType">
<part name="parameters" element="tns:findDetailType"></part>
</message>
<message name="findDetailTypeResponse">
<part name="parameters" element="tns:findDetailTypeResponse"></part>
</message>
<message name="subjectRetainedPDF">
<part name="parameters" element="tns:subjectRetainedPDFReq"></part>
</message>
<message name="subjectRetainedPDFResponse">
<part name="parameters" element="tns:subjectRetainedPDFResponse"></part>
</message>
<message name="monthlySettlementPDF">
<part name="parameters" element="tns:monthlySettlementPDFReq"></part>
</message>
<message name="monthlySettlementPDFResponse">
<part name="parameters" element="tns:monthlySettlementPDFResponse"></part>
</message>
<message name="subtotalVouchersQuery">
<part name="parameters" element="tns:subtotalVouchersQuery"></part>
</message>
<message name="subtotalVouchersQueryResponse">
<part name="parameters" element="tns:subtotalVouchersQueryResponse"></part>
</message>
<portType name="VoucherServicesPortType">
<operation name="presentedTransactions">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/presentedTransactionsRequest" message="tns:presentedTransactions"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/presentedTransactionsResponse" message="tns:presentedTransactionsResponse"></output>
</operation>
<operation name="vouchersQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/vouchersQueryRequest" message="tns:vouchersQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/vouchersQueryResponse" message="tns:vouchersQueryResponse"></output>
</operation>
<operation name="settlementsQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/settlementsQueryRequest" message="tns:settlementsQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/settlementsQueryResponse" message="tns:settlementsQueryResponse"></output>
</operation>
<operation name="dailySettlementPDF">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementPDFRequest" message="tns:dailySettlementPDF"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementPDFResponse" message="tns:dailySettlementPDFResponse"></output>
</operation>
<operation name="dailySettlementQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementQueryRequest" message="tns:dailySettlementQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementQueryResponse" message="tns:dailySettlementQueryResponse"></output>
</operation>
<operation name="chargebackQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/chargebackQueryRequest" message="tns:chargebackQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/chargebackQueryResponse" message="tns:chargebackQueryResponse"></output>
</operation>
<operation name="salesQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/salesQueryRequest" message="tns:salesQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/salesQueryResponse" message="tns:salesQueryResponse"></output>
</operation>
<operation name="monthlySettlementQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementQueryRequest" message="tns:monthlySettlementQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementQueryResponse" message="tns:monthlySettlementQueryResponse"></output>
</operation>
<operation name="findDetailType">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/findDetailTypeRequest" message="tns:findDetailType"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/findDetailTypeResponse" message="tns:findDetailTypeResponse"></output>
</operation>
<operation name="subjectRetainedPDF">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subjectRetainedPDFRequest" message="tns:subjectRetainedPDF"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subjectRetainedPDFResponse" message="tns:subjectRetainedPDFResponse"></output>
</operation>
<operation name="monthlySettlementPDF">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementPDFRequest" message="tns:monthlySettlementPDF"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementPDFResponse" message="tns:monthlySettlementPDFResponse"></output>
</operation>
<operation name="subtotalVouchersQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subtotalVouchersQueryRequest" message="tns:subtotalVouchersQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subtotalVouchersQueryResponse" message="tns:subtotalVouchersQueryResponse"></output>
</operation>
</portType>
<binding name="VoucherServicesImplPortBinding" type="tns:VoucherServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="presentedTransactions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vouchersQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="settlementsQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dailySettlementPDF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dailySettlementQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="chargebackQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="salesQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monthlySettlementQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findDetailType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subjectRetainedPDF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monthlySettlementPDF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subtotalVouchersQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="voucherServices">
<port name="VoucherServicesImplPort" binding="tns:VoucherServicesImplPortBinding">
<soap:address location="https://test.serviciosfd.firstdata.com.ar:8443/fdcomar-services/voucherServices"></soap:address>
</port>
</service>
</definitions>