responses/wsdl/voucherServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.firstdata.com/fdcomar/" name="voucherServices">
<types>
<xs:schema xmlns:tns="http://www.firstdata.com/fdcomar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.firstdata.com/fdcomar/">

<xs:element name="chargebackQuery" type="tns:chargebackQueryReqType"></xs:element>

<xs:element name="chargebackQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="numberRecords" type="xs:string"></xs:element>
<xs:element name="chargebacks" type="tns:chargebacksType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="dailySettlementPDFReq" type="tns:dailySettlementPDFReqType"></xs:element>

<xs:element name="dailySettlementPDFResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="dailySettlementPDF" type="xs:string"></xs:element>
<xs:element name="fileName" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="dailySettlementQuery" type="tns:dailySettlementQueryReqType"></xs:element>

<xs:element name="dailySettlementQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="numberRecords" type="xs:string"></xs:element>
<xs:element name="totalNetAmount" type="xs:string"></xs:element>
<xs:element name="dailySettlements" type="tns:dailySettlementsType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="findDetailType" type="tns:findDetailTypeReqType"></xs:element>

<xs:element name="findDetailTypeResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="detailTypes" type="tns:detailTypesType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="monthlySettlementPDFReq" type="tns:monthlySettlementPDFReqType"></xs:element>

<xs:element name="monthlySettlementPDFResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="monthlySettlementPDF" type="xs:string"></xs:element>
<xs:element name="fileName" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="monthlySettlementQuery" type="tns:monthlySettlementQueryReqType"></xs:element>

<xs:element name="monthlySettlementQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="numberRecords" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="totalNetAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="monthlySettlements" type="tns:monthlySettlementsType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="presentedTransactions" type="tns:presentedTransactionsReqType"></xs:element>

<xs:element name="presentedTransactionsResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="transactions" type="tns:presentedTransactionsResType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="salesQuery" type="tns:salesQueryReqType"></xs:element>

<xs:element name="salesQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="numberRecords" type="xs:int"></xs:element>
<xs:element name="totalNetAmount" type="xs:string"></xs:element>
<xs:element name="sales" type="tns:saleQueryListType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="settlementsQuery" type="tns:settlementsQueryReqType"></xs:element>

<xs:element name="settlementsQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="settlementsQuery" type="tns:settlementsQueryType"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="subjectRetainedPDFReq" type="tns:subjectRetainedPDFReqType"></xs:element>

<xs:element name="subjectRetainedPDFResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="subjectRetainedPDF" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="subtotalVouchersQuery" type="tns:subtotalVouchersQueryReqType"></xs:element>

<xs:element name="subtotalVouchersQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="numberRecords" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="subtotals" type="tns:subtotalsResType" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="vouchersQuery" type="tns:vouchersQueryReqType"></xs:element>

<xs:element name="vouchersQueryResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="returnService" type="tns:ReturnServiceType"></xs:element>
<xs:element name="numberRecords" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paymentDate" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="vouchers" type="tns:vouchersResType" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:complexType name="ReturnServiceType">
<xs:sequence>
<xs:element name="return" type="tns:returnType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnType">
<xs:sequence>
<xs:element name="code" type="xs:string"></xs:element>
<xs:element name="description" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandsListType">
<xs:sequence>
<xs:element name="brand" type="tns:brandNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brandNumberType">
<xs:sequence>
<xs:element name="brandNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CommerceQueryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productsType">
<xs:sequence>
<xs:element name="product" type="tns:productType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productType">
<xs:sequence>
<xs:element name="productCode" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monthlySettlementPDFReqType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="brand" type="xs:string"></xs:element>
<xs:element name="currency" type="xs:string"></xs:element>
<xs:element name="period" type="xs:int"></xs:element>
<xs:element name="settlementType" type="xs:string"></xs:element>
<xs:element name="entityCode" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productsMonthlySettlementListType">
<xs:sequence>
<xs:element name="product" type="tns:productMonthlySettlementCodType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productMonthlySettlementCodType">
<xs:sequence>
<xs:element name="productCod" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="presentedTransactionsResType">
<xs:sequence>
<xs:element name="transaction" type="tns:presentedTransactionResType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="presentedTransactionResType">
<xs:sequence>
<xs:element name="dateTransaction" type="xs:date"></xs:element>
<xs:element name="currency" type="xs:int"></xs:element>
<xs:element name="totalAmount" type="xs:string"></xs:element>
<xs:element name="state" type="xs:string"></xs:element>
<xs:element name="productCode" type="xs:int"></xs:element>
<xs:element name="productDesc" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monthlySettlementsType">
<xs:sequence>
<xs:element name="monthlySettlement" type="tns:monthlySettlementType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monthlySettlementType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="period" type="xs:int"></xs:element>
<xs:element name="productCod" type="xs:int"></xs:element>
<xs:element name="productDesc" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="currencyCode" type="xs:int"></xs:element>
<xs:element name="grossAmount" type="xs:string"></xs:element>
<xs:element name="discountAmount" type="xs:string"></xs:element>
<xs:element name="netAmount" type="xs:string"></xs:element>
<xs:element name="payerEntityCode" type="xs:int"></xs:element>
<xs:element name="payerEntityDesc" type="xs:string"></xs:element>
<xs:element name="branch" type="xs:int"></xs:element>
<xs:element name="bankAccount" type="xs:string"></xs:element>
<xs:element name="operationType" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceChargebackNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesFindDetailTypeListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceFindDetailTypeNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceFindDetailTypeNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceDailySettlementNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesDailySettlementListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceDailySettlementNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dailySettlementsType">
<xs:sequence>
<xs:element name="dailySettlement" type="tns:dailySettlementType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dailySettlementType">
<xs:sequence>
<xs:element name="paymentDate" type="xs:date"></xs:element>
<xs:element name="presentationDate" type="xs:date"></xs:element>
<xs:element name="settlmentNumber" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="currencyCode" type="xs:int"></xs:element>
<xs:element name="productCode" type="xs:int"></xs:element>
<xs:element name="productDesc" type="xs:string"></xs:element>
<xs:element name="payerEntityCode" type="xs:int"></xs:element>
<xs:element name="payerEntityDesc" type="xs:string"></xs:element>
<xs:element name="bankAccount" type="xs:string"></xs:element>
<xs:element name="signGrossAmount" type="xs:string"></xs:element>
<xs:element name="grossAmount" type="xs:string"></xs:element>
<xs:element name="signDiscountAmount" type="xs:string"></xs:element>
<xs:element name="discountAmount" type="xs:string"></xs:element>
<xs:element name="signNetAmount" type="xs:string"></xs:element>
<xs:element name="netAmount" type="xs:string"></xs:element>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="saleType" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesMonthlySettListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commercemonthlySettlementNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercemonthlySettlementNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="monthlySettlementQueryReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesMonthlySettListType"></xs:element>
<xs:element name="products" type="tns:productsMonthlySettlementListType"></xs:element>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="punctualAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="period" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="amountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="dateFrom" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="dateTo" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="quantityOfRecords" type="xs:integer"></xs:element>
<xs:element name="pageNumber" type="xs:integer"></xs:element>
<xs:element name="orderingCriteria" type="xs:int"></xs:element>
<xs:element name="fiscalNumbers" type="tns:fiscalNumbersListType"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fiscalNumbersListType">
<xs:sequence>
<xs:element name="fiscalNumberList" type="tns:fiscalNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fiscalNumberType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtotalsResType">
<xs:sequence>
<xs:element name="subtotal" type="tns:subtotalResType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtotalResType">
<xs:sequence>
<xs:element name="sign" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="conceptCode" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="conceptDescription" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountSign" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amount" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="presentedTransactionsReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesPresentedListType"></xs:element>
<xs:element name="products" type="tns:productsType"></xs:element>
<xs:element name="pageNumber" type="xs:int"></xs:element>
<xs:element name="pageElementsNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesPresentedListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commercePresentedNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercePresentedNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesChargebackListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceChargebackNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dailySettlementQueryReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesDailySettlementListType"></xs:element>
<xs:element name="products" type="tns:productsType"></xs:element>
<xs:element name="settlmentNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="punctualAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signDeltaTime" type="xs:string"></xs:element>
<xs:element name="deltaTime" type="xs:int"></xs:element>
<xs:element name="signAmountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signAmountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="paymentDateFrom" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="paymentDateTo" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="saleType" type="xs:string"></xs:element>
<xs:element name="orderingCriteria" type="xs:int"></xs:element>
<xs:element name="pageNumber" type="xs:int"></xs:element>
<xs:element name="pageElementsNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtotalVouchersQueryReqType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:string"></xs:element>
<xs:element name="liquidationNumber" type="xs:string"></xs:element>
<xs:element name="productCode" type="xs:int"></xs:element>
<xs:element name="pageNumber" type="xs:int"></xs:element>
<xs:element name="itemsPerPage" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dailySettlementPDFReqType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:string"></xs:element>
<xs:element name="brand" type="xs:string"></xs:element>
<xs:element name="settlementNumber" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voucherStateType">
<xs:sequence>
<xs:element name="state" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chargebacksType">
<xs:sequence>
<xs:element name="chargeback" type="tns:chargebackType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chargebackType">
<xs:sequence>
<xs:element name="presentationDate" type="xs:date"></xs:element>
<xs:element name="settlmentNumber" type="xs:string"></xs:element>
<xs:element name="voucherNumber" type="xs:int"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="productCode" type="xs:int"></xs:element>
<xs:element name="productDesc" type="xs:string"></xs:element>
<xs:element name="currencyCode" type="xs:int"></xs:element>
<xs:element name="detail" type="xs:string"></xs:element>
<xs:element name="bankAccount" type="xs:string"></xs:element>
<xs:element name="last4NumCard" type="xs:string"></xs:element>
<xs:element name="installments" type="xs:int"></xs:element>
<xs:element name="signNetAmount" type="xs:string"></xs:element>
<xs:element name="netAmount" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleQueryListType">
<xs:sequence>
<xs:element name="sale" type="tns:saleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleQueryType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="checkDigit" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="terminalNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="processDate" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="paymentDate" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="presentationDate" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="batchNumber" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="voucherNumber" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="currencyCode" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="signNetAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="netAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signGrossAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="grossAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signDiscountAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="discountAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="authorizationNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="productCode" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="productDesc" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="settlmentNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="payerEntityCode" type="xs:int"></xs:element>
<xs:element name="payerEntityDesc" type="xs:string"></xs:element>
<xs:element name="presentationCycle" type="xs:int"></xs:element>
<xs:element name="last4NumCard" type="xs:string"></xs:element>
<xs:element name="installments" type="xs:int"></xs:element>
<xs:element name="bankAccount" type="xs:string"></xs:element>
<xs:element name="settlmentType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="voucherState" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commerceSalesNumberType">
<xs:sequence>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chargebackQueryReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesChargebackListType"></xs:element>
<xs:element name="products" type="tns:productsType"></xs:element>
<xs:element name="voucherNumber" type="xs:int"></xs:element>
<xs:element name="punctualAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signDeltaTime" type="xs:string"></xs:element>
<xs:element name="deltaTime" type="xs:int"></xs:element>
<xs:element name="signAmountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signAmountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="presentationDateFrom" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="presentationDateTo" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="detailType" type="xs:int"></xs:element>
<xs:element name="orderingCriteria" type="xs:int"></xs:element>
<xs:element name="pageNumber" type="xs:int"></xs:element>
<xs:element name="pageElementsNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salesQueryReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesSalesListType"></xs:element>
<xs:element name="products" type="tns:productsType"></xs:element>
<xs:element name="voucherNumber" type="xs:int"></xs:element>
<xs:element name="punctualAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signDeltaTime" type="xs:string"></xs:element>
<xs:element name="deltaTime" type="xs:int"></xs:element>
<xs:element name="signAmountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signAmountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="processDateFrom" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="processDateTo" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="voucherStates" type="tns:voucherStatesListType" minOccurs="0"></xs:element>
<xs:element name="orderingCriteria" type="xs:int"></xs:element>
<xs:element name="last4NumCard" type="xs:string"></xs:element>
<xs:element name="pageNumber" type="xs:int"></xs:element>
<xs:element name="pageElementsNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commercesSalesListType">
<xs:sequence>
<xs:element name="commerce" type="tns:commerceSalesNumberType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voucherStatesListType">
<xs:sequence>
<xs:element name="voucherState" type="tns:voucherStateType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="errorReasonResType">
<xs:sequence>
<xs:element name="errorReason" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vouchersResType">
<xs:sequence>
<xs:element name="voucher" type="tns:voucherResType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="voucherResType">
<xs:sequence>
<xs:element name="liquidatedDate" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="movementCode" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="operationDesc" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="terminalNumber" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="batchNumber" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="voucherNumber" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="cardNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="installmentPlan" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tnaTax" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountWithDiscountSign" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountWithDiscount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountWithoutDiscountSign" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountWithoutDiscount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="discountTariffSign" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="discountTariff" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="financeDiscountSign" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="financeDiscount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="registerType" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="chargeType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="reference1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="reference2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="reference3" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="financingType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="voucherAmount" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="repayDescription" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cash" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="jacket" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="summary" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="totalAmountSign" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="totalAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="concept" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="observations" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="errorReasonsList" type="tns:errorReasonsResType" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="errorReasonsResType">
<xs:sequence>
<xs:element name="error" type="tns:errorReasonResType" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="settlementsQueryType">
<xs:sequence>
<xs:element name="settlementQuery" type="tns:settlementQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="settlementQueryType">
<xs:sequence>
<xs:element name="settledNumber" type="xs:int"></xs:element>
<xs:element name="productCode" type="xs:int"></xs:element>
<xs:element name="productDesc" type="xs:string"></xs:element>
<xs:element name="liquidatedDate" type="xs:date"></xs:element>
<xs:element name="paymentDate" type="xs:date"></xs:element>
<xs:element name="netAmount" type="xs:string"></xs:element>
<xs:element name="grossAmount" type="xs:string"></xs:element>
<xs:element name="currency" type="xs:int"></xs:element>
<xs:element name="paymentDeadline" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDetailTypeReqType">
<xs:sequence>
<xs:element name="commerces" type="tns:commercesFindDetailTypeListType"></xs:element>
<xs:element name="products" type="tns:productsType"></xs:element>
<xs:element name="voucherNumber" type="xs:int"></xs:element>
<xs:element name="punctualAmount" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signDeltaTime" type="xs:string"></xs:element>
<xs:element name="deltaTime" type="xs:int"></xs:element>
<xs:element name="signAmountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountFrom" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="signAmountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="amountTo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="presentationDateFrom" type="xs:date" minOccurs="0"></xs:element>
<xs:element name="presentationDateTo" type="xs:date" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="settlementsQueryReqType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:int"></xs:element>
<xs:element name="products" type="tns:productsType"></xs:element>
<xs:element name="daysNumber" type="xs:int"></xs:element>
<xs:element name="liquidatedDate" type="xs:date"></xs:element>
<xs:element name="paymentDate" type="xs:date"></xs:element>
<xs:element name="settledNumber" type="xs:int"></xs:element>
<xs:element name="pageNumber" type="xs:string"></xs:element>
<xs:element name="pageElementsNumber" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detailTypesType">
<xs:sequence>
<xs:element name="detailType" type="tns:detailTypeType" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detailTypeType">
<xs:sequence>
<xs:element name="detailTypeCode" type="xs:int"></xs:element>
<xs:element name="detailTypeDesc" type="xs:string"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vouchersQueryReqType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="commerceNumber" type="xs:int"></xs:element>
<xs:element name="checkDigit" type="xs:string"></xs:element>
<xs:element name="liquidationNumber" type="xs:string"></xs:element>
<xs:element name="productCode" type="xs:int"></xs:element>
<xs:element name="pageNumber" type="xs:int"></xs:element>
<xs:element name="itemsPerPage" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subjectRetainedPDFReqType">
<xs:sequence>
<xs:element name="fiscalNumber" type="xs:string"></xs:element>
<xs:element name="period" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="settlementsQuery">
<part name="parameters" element="tns:settlementsQuery"></part>
</message>
<message name="settlementsQueryResponse">
<part name="parameters" element="tns:settlementsQueryResponse"></part>
</message>
<message name="vouchersQuery">
<part name="parameters" element="tns:vouchersQuery"></part>
</message>
<message name="vouchersQueryResponse">
<part name="parameters" element="tns:vouchersQueryResponse"></part>
</message>
<message name="chargebackQuery">
<part name="parameters" element="tns:chargebackQuery"></part>
</message>
<message name="chargebackQueryResponse">
<part name="parameters" element="tns:chargebackQueryResponse"></part>
</message>
<message name="salesQuery">
<part name="parameters" element="tns:salesQuery"></part>
</message>
<message name="salesQueryResponse">
<part name="parameters" element="tns:salesQueryResponse"></part>
</message>
<message name="findDetailType">
<part name="parameters" element="tns:findDetailType"></part>
</message>
<message name="findDetailTypeResponse">
<part name="parameters" element="tns:findDetailTypeResponse"></part>
</message>
<message name="presentedTransactions">
<part name="parameters" element="tns:presentedTransactions"></part>
</message>
<message name="presentedTransactionsResponse">
<part name="parameters" element="tns:presentedTransactionsResponse"></part>
</message>
<message name="dailySettlementPDF">
<part name="parameters" element="tns:dailySettlementPDFReq"></part>
</message>
<message name="dailySettlementPDFResponse">
<part name="parameters" element="tns:dailySettlementPDFResponse"></part>
</message>
<message name="dailySettlementQuery">
<part name="parameters" element="tns:dailySettlementQuery"></part>
</message>
<message name="dailySettlementQueryResponse">
<part name="parameters" element="tns:dailySettlementQueryResponse"></part>
</message>
<message name="monthlySettlementQuery">
<part name="parameters" element="tns:monthlySettlementQuery"></part>
</message>
<message name="monthlySettlementQueryResponse">
<part name="parameters" element="tns:monthlySettlementQueryResponse"></part>
</message>
<message name="subtotalVouchersQuery">
<part name="parameters" element="tns:subtotalVouchersQuery"></part>
</message>
<message name="subtotalVouchersQueryResponse">
<part name="parameters" element="tns:subtotalVouchersQueryResponse"></part>
</message>
<message name="subjectRetainedPDF">
<part name="parameters" element="tns:subjectRetainedPDFReq"></part>
</message>
<message name="subjectRetainedPDFResponse">
<part name="parameters" element="tns:subjectRetainedPDFResponse"></part>
</message>
<message name="monthlySettlementPDF">
<part name="parameters" element="tns:monthlySettlementPDFReq"></part>
</message>
<message name="monthlySettlementPDFResponse">
<part name="parameters" element="tns:monthlySettlementPDFResponse"></part>
</message>
<portType name="VoucherServicesPortType">
<operation name="settlementsQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/settlementsQueryRequest" message="tns:settlementsQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/settlementsQueryResponse" message="tns:settlementsQueryResponse"></output>
</operation>
<operation name="vouchersQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/vouchersQueryRequest" message="tns:vouchersQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/vouchersQueryResponse" message="tns:vouchersQueryResponse"></output>
</operation>
<operation name="chargebackQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/chargebackQueryRequest" message="tns:chargebackQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/chargebackQueryResponse" message="tns:chargebackQueryResponse"></output>
</operation>
<operation name="salesQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/salesQueryRequest" message="tns:salesQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/salesQueryResponse" message="tns:salesQueryResponse"></output>
</operation>
<operation name="findDetailType">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/findDetailTypeRequest" message="tns:findDetailType"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/findDetailTypeResponse" message="tns:findDetailTypeResponse"></output>
</operation>
<operation name="presentedTransactions">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/presentedTransactionsRequest" message="tns:presentedTransactions"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/presentedTransactionsResponse" message="tns:presentedTransactionsResponse"></output>
</operation>
<operation name="dailySettlementPDF">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementPDFRequest" message="tns:dailySettlementPDF"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementPDFResponse" message="tns:dailySettlementPDFResponse"></output>
</operation>
<operation name="dailySettlementQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementQueryRequest" message="tns:dailySettlementQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/dailySettlementQueryResponse" message="tns:dailySettlementQueryResponse"></output>
</operation>
<operation name="monthlySettlementQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementQueryRequest" message="tns:monthlySettlementQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementQueryResponse" message="tns:monthlySettlementQueryResponse"></output>
</operation>
<operation name="subtotalVouchersQuery">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subtotalVouchersQueryRequest" message="tns:subtotalVouchersQuery"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subtotalVouchersQueryResponse" message="tns:subtotalVouchersQueryResponse"></output>
</operation>
<operation name="subjectRetainedPDF">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subjectRetainedPDFRequest" message="tns:subjectRetainedPDF"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/subjectRetainedPDFResponse" message="tns:subjectRetainedPDFResponse"></output>
</operation>
<operation name="monthlySettlementPDF">
<input wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementPDFRequest" message="tns:monthlySettlementPDF"></input>
<output wsam:Action="http://www.firstdata.com/fdcomar/VoucherServicesPortType/monthlySettlementPDFResponse" message="tns:monthlySettlementPDFResponse"></output>
</operation>
</portType>
<binding name="VoucherServicesImplPortBinding" type="tns:VoucherServicesPortType">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="settlementsQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="vouchersQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="chargebackQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="salesQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findDetailType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="presentedTransactions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dailySettlementPDF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="dailySettlementQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monthlySettlementQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subtotalVouchersQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subjectRetainedPDF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="monthlySettlementPDF">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="voucherServices">
<port name="VoucherServicesImplPort" binding="tns:VoucherServicesImplPortBinding">
<soap:address location="http://localhost:8090/fdcomar-services/voucherServices"></soap:address>
</port>
</service>
</definitions>